@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.container {
  width: 100%;
  height: 100vh;
  background: hsl(230, 17%, 14%);
  opacity: 1;
  animation-name: fadeInDark;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes fadeInDark {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.topBG {
  width: 100%;
  height: 35vh;
  background: hsl(232deg 19% 15%);
  position: relative;
  z-index: 0;
}

/* -------------------------------------------------------------------------------- */

.cards {
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: 12%;
  margin-top: 3%;
  flex-wrap: wrap;
}

.card {
  background: hsl(228, 28%, 20%);
  width: 15rem;
  height: 28vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card:hover {
  background-color: #333a56;
  cursor: pointer;
}

.card .facebook {
  width: 100%;
  height: 0.6vh;
  background: hsl(208, 92%, 53%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .twitter {
  width: 100%;
  height: 0.6vh;
  background: hsl(203, 89%, 53%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .instagram {
  width: 100%;
  height: 0.6vh;
  background: rgb(247, 196, 119);
  background: linear-gradient(
    90deg,
    rgba(247, 196, 119, 1) 0%,
    rgba(236, 132, 130, 1) 50%,
    rgba(161, 72, 127, 1) 100%
  );
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .youtube {
  width: 100%;
  height: 0.6vh;
  background: hsl(348, 97%, 39%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card h4 {
  color: hsl(228, 34%, 66%);
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  justify-content: space-evenly;
  width: 50%;
  height: auto;
}

.card h1 {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.card h2 {
  color: hsl(228, 34%, 66%);
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: -1rem;
  letter-spacing: 0.3rem;
  line-height: 1rem;
}

.card .up {
  color: hsl(163deg 72% 41%);
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  height: 2vh;
}

.card .down {
  color: hsl(356, 69%, 56%);
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  height: 2vh;
}

/* -------------------------------------------------------------------------------- */
.overview__container {
  width: 100%;
  height: auto;
  background: hsl(230, 17%, 14%);
}
.overview__title {
  color: hsl(0, 0%, 100%);
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 14%;
  font-size: 1.6rem;
}
.overview__cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12%;
}
.overview__card {
  background-color: hsl(228, 28%, 20%);
  width: 15rem;
  height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5em;
}

.overview__card:hover {
  background-color: #333a56;
  cursor: pointer;
}

.overview__card__top {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview__card__top h4 {
  font-size: 14px;
  color: hsl(228, 34%, 66%);
}

.overview__card__bottom {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview__card__bottom h1 {
  color: hsl(0, 0%, 100%);
}
.overview__card__bottom .down {
  color: hsl(356, 69%, 56%);
}
.overview__card__bottom h4 {
  color: hsl(163deg 72% 41%);
  font-size: 0.7rem;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}
.line {
  display: none;
}

/* LIGHTMODE */

.container__light {
  width: 100%;
  height: 100vh;
  background: hsl(0, 0%, 100%);
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.topBG__light {
  width: 100%;
  height: 35vh;
  background: hsl(225, 100%, 98%);
  position: relative;
  z-index: 0;
}

.cards__light {
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: 12%;
  margin-top: 3%;
  flex-wrap: wrap;
}

.card__light {
  background: hsl(227, 47%, 96%);
  width: 15rem;
  height: 28vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card__light:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.card__light .facebook {
  width: 100%;
  height: 0.6vh;
  background: hsl(208, 92%, 53%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card__light .twitter {
  width: 100%;
  height: 0.6vh;
  background: hsl(203, 89%, 53%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card__light .instagram {
  width: 100%;
  height: 0.6vh;
  background: rgb(247, 196, 119);
  background: linear-gradient(
    90deg,
    rgba(247, 196, 119, 1) 0%,
    rgba(236, 132, 130, 1) 50%,
    rgba(161, 72, 127, 1) 100%
  );
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card__light .youtube {
  width: 100%;
  height: 0.6vh;
  background: hsl(348, 97%, 39%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__light h4 {
  color: hsl(228, 12%, 44%);
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  justify-content: space-evenly;
  width: 50%;
  height: auto;
}

.card__light h1 {
  color: hsl(230, 17%, 14%);
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.card__light h2 {
  color: hsl(228, 12%, 44%);
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: -1rem;
  letter-spacing: 0.3rem;
  line-height: 1rem;
}

.card__light h3 {
  color: hsl(163deg 72% 41%);
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  height: 2vh;
}

.card__light .down {
  color: hsl(356, 69%, 56%);
}

/* -------------------------------------------------------------------------------- */
.overview__container__light {
  width: 100%;
  height: auto;
  background: hsl(0, 0%, 100%);
}
.overview__title__light {
  color: hsl(230, 17%, 14%);
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 14%;
  font-size: 1.6rem;
}
.overview__cards__light {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12%;
}

.overview__card__light:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.overview__card__light {
  background-color: hsl(227, 47%, 96%);
  width: 15rem;
  height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5em;
}

.overview__card__top__light {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview__card__top__light h4 {
  font-size: 14px;
  color: hsl(228, 12%, 44%);
}

.overview__card__bottom__light {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview__card__bottom__light h1 {
  color: hsl(230, 17%, 14%);
}
.overview__card__bottom .down {
  color: hsl(356, 69%, 56%);
}
.overview__card__bottom__light h4 {
  color: hsl(163deg 72% 41%);
  font-size: 0.7rem;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}
.line__light {
  display: none;
}
@media screen and (max-width: 375px) {
  .container {
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }
  .header__title {
    margin: 0;
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__title h1 {
    font-size: 1.5rem;
  }
  .line {
    display: block;
    height: 0.1vh;
    width: 80%;
    background-color: hsl(228, 28%, 20%);
    margin-top: 1rem;
  }
  .header__toggle {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
  }
  .cards {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    height: 35vh;
    width: 80%;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  .card:hover {
    background-color: #333a56;
    cursor: pointer;
  }

  .overview__cards {
    width: 90%;
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overview__card {
    width: 90%;
    margin-left: 0;
  }

  .overview__card:hover {
    background-color: #333a56;
    cursor: pointer;
  }

  .overview__title {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
}
