@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.container {
  width: 100%;
  height: 100vh;
  background: hsl(0, 0%, 100%);
}

.topBG {
  width: 100%;
  height: 35vh;
  background: hsl(225, 100%, 98%);
  position: relative;
  z-index: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin-left: 14%;
  margin-top: 2%;
}

.header__title h1 {
  color: hsl(230, 17%, 14%);
  font-size: 1.6rem;
}

.header__title h5 {
  color: hsl(228, 12%, 44%);
}
.header__toggle {
  color: hsl(228, 12%, 44%);
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 11%;
  margin-top: 3%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.3rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(230, 22%, 74%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 0.2rem;
  top: 0.1rem;
  background-color: #f2f3f8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: hsl(230, 22%, 74%);
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(1.1rem);
  -ms-transform: translateX(1.1rem);
  transform: translateX(1.1rem);
}
.slider {
  border-radius: 34px;
}
.slider:before {
  border-radius: 50%;
}

/* -------------------------------------------------------------------------------- */

.cards__light {
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: 12%;
  margin-top: 3%;
  flex-wrap: wrap;
}

.card__light {
  background: hsl(227, 47%, 96%);
  width: 15rem;
  height: 28vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card__light:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.card__light .facebook {
  width: 100%;
  height: 0.6vh;
  background: hsl(208, 92%, 53%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card__light .twitter {
  width: 100%;
  height: 0.6vh;
  background: hsl(203, 89%, 53%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card__light .instagram {
  width: 100%;
  height: 0.6vh;
  background: rgb(247, 196, 119);
  background: linear-gradient(
    90deg,
    rgba(247, 196, 119, 1) 0%,
    rgba(236, 132, 130, 1) 50%,
    rgba(161, 72, 127, 1) 100%
  );
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card__light .youtube {
  width: 100%;
  height: 0.6vh;
  background: hsl(348, 97%, 39%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__light h4 {
  color: hsl(228, 12%, 44%);
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  justify-content: space-evenly;
  width: 50%;
  height: auto;
}

.card__light h1 {
  color: hsl(230, 17%, 14%);
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.card__light h2 {
  color: hsl(228, 12%, 44%);
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: -1rem;
  letter-spacing: 0.3rem;
  line-height: 1rem;
}

.card__light h3 {
  color: hsl(163deg 72% 41%);
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  height: 2vh;
}

.card__light .down {
  color: hsl(356, 69%, 56%);
}

/* -------------------------------------------------------------------------------- */
.overview__container__light {
  width: 100%;
  height: auto;
  background: hsl(0, 0%, 100%);
}
.overview__title__light {
  color: hsl(230, 17%, 14%);
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 14%;
  font-size: 1.6rem;
}
.overview__cards__light {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12%;
}

.overview__card__light:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.overview__card__light {
  background-color: hsl(227, 47%, 96%);
  width: 15rem;
  height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5em;
}

.overview__card__top__light {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview__card__top__light h4 {
  font-size: 14px;
  color: hsl(228, 12%, 44%);
}

.overview__card__bottom__light {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview__card__bottom__light h1 {
  color: hsl(230, 17%, 14%);
}
.overview__card__bottom .down {
  color: hsl(356, 69%, 56%);
}
.overview__card__bottom__light h4 {
  color: hsl(163deg 72% 41%);
  font-size: 0.7rem;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}
.line__light {
  display: none;
}
@media screen and (max-width: 375px) {
  .container {
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }
  .header__title {
    margin: 0;
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__title h1 {
    font-size: 1.5rem;
  }
  .line {
    display: block;
    height: 0.1vh;
    width: 80%;
    background-color: hsl(230, 22%, 74%);
    margin-top: 1rem;
  }
  .header__toggle {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
  }
  .cards {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    height: 35vh;
    width: 80%;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  .card:hover {
    background-color: #ffffff;
    cursor: pointer;
  }

  .overview__cards {
    width: 90%;
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overview__card {
    width: 90%;
    margin-left: 0;
  }

  .overview__card:hover {
    background-color: #ffffff;
    cursor: pointer;
  }

  .overview__title {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
}
